<div id="post_content">
    <h4 class="title"><strong>
        <%= @post.title %>
    </strong></h4>
    
    <p class="date">
        Submitted <%= time_ago_in_words(@post.created_at) %> Ago by
        <%= @post.user.email %>
        <% if @post.user == current_user %>
            | <%= link_to "Edit post", edit_post_path %> |
            <%= link_to "Delete post", post_path, method: :delete, data: { confirm:"You are about to destroy this post, are you sure?" } %>
        <% end %>
    </p>
    <p class="content">
        <%= @post.content %></p>
    <p>
      <p><%= link_to "Show All Comments", '#', id: "comments-link" %>
    </p>
    <p>
      <%= @post.comments.count %> Comments
    </p>
    <div id="comment-section">
    	<div id="comments">
		    <p class="body"><%= render @post.comments %></p>
		</div>
		<h3>Add a comment:</h3>
        <%= render 'comments/form' %>
	</div>
</div>