<div class="post_wrapper">
    <h1 class="title">
        <%= @post.title %>
    </h1>
    
    <p class="date">
        Submitted <%= time_ago_in_words(@post.created_at) %> Ago |
        <%= link_to "Edit post", edit_post_path %> |
        <%= link_to "Delete post", post_path, method: :delete, data: { confirm:"You are about to destroy this post, are you sure?" } %>
    </p>
    <p class="content">
        <%= @post.content %>
    </p>
</div>