<!DOCTYPE html>
<html>
<head>
  <title>Social App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "indeks.svg" %>
			<% end %>
		</div>

		<ul>
			<li class="category"><h4><Website</h4></li>
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "About", about_path %></li>
		</ul>

		<ul>
			<li class="category"><h4>Social</h4></li>
			<li><a href="https://www.facebook.com/adam.zaczek">Facebook</a></li>
			<li><a href="https://www.instagram.com/skateboardingisalifestyle/">Instagram</a></li>
			<li><a href="https://github.com/AdamZaczek">Github</a></li>
			<li><a href="mailto:adamzaczekul@gmail.com">Email</a></li>
		</ul>
</div>
<div id="main_content">
	<div id="header">
		<p>Headquarters</p>
		  <div id="nav", class="buttons">
			<% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% else %>
				<%= link_to "Back to posts", root_path %>
			<% end %>
			

		<% if current_user %>
			<%= link_to "New Post", new_post_path %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id), class: "button" %>
      <%= link_to "Logout", :logout, method: :post, class: "button" %>
    <% else %>
      <%= link_to "Register", new_user_path, class: "button" %> |
      <%= link_to "Login", :login, class: "button" %>
    <% end %>
  </div>
	</div>
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>
</div>
</body>
</html>